* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  max-width:100%;
  max-height:100%;

}

html,body{
    height: 100%
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

#barra-principal{
    margin: 0;
    
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: orange;
    border-radius: 0px 0px 3px 3px;;
    justify-content: flex-start;
    
}


#inicio-form{
    width: 20%;
    flex-wrap: wrap;
    height: 50%;
    margin-top:1%;
    border-radius: 25px;
    display: flex;
    flex-direction:column;
    margin-left: 60%;
    gap: 3%;
    background-color: rgb(234, 245, 241);
    align-items: center;
    justify-content:flex-start;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
    height: 25%;
    border-radius: 25px;
    
}

form.label{
    justify-items: start;
    align-items: start;
    justify-content: start;
}


input{
    border-radius: 5px;
    height: 40%;
}