<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="/styles/registro.css">
    <link rel="icon" sizes="64x64" href="/favicon.png">
    <title>Cua-munidad</title>
</head>
<body>
    <h1>Bienvenido a la Cua-munidad!!</h1>

    <p> Este es un espacio para la comunidad de la UAM-C, comparte experiencias,conocimientos o cualquier cosa que sea util para la comunidad!!</p>

    

    <a href="./registro.html">registrarse</a>
    <a href="./Iniciar Sesion.html">iniciar sesion</a>




</body>
</html>